.post {
    padding: 0px 15px;
    font-size: 18px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.post:hover {
    background-color: #c9c6c6;
}
.post__title {
    text-align: center;
}
.post__control {
    display: flex;
    justify-content: end;
    gap:20px;
    padding: 15px 0px;
}
